{% extends "base.html" %}

{% block title%}
  <title>{{ art.title }} - {{ blog.name }}</title>
{% endblock %}

{% block style %}
  <style>
  img {
    {% if art.img_width|length %}
    max-width: {{ art.img_width }} !important;
    {% else %}
    max-width: {{ blog.img_max_width }} !important;
    {% endif %}
    height: auto !important;
  }
  </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

{{ art.content|safe }}

<div id="updated-at">
  <span>Updated at {{ art.mtime[0:19] }}</span>
</div>
{% endblock %}

{% block footer %}
<div id="footer">
  <div id="footer-home-link">
    <a href="index.html">&lt;&lt; Home</a>
    {% if not art.ignored %}
    <a href="title-index.html#{{art.index_id}}">&lt;&lt; Index</a>
    |
    <a href="random.html">Random &gt;&gt;</a>
    {% endif %}
  </div>
  <p id="footer-body">
    {% if art.author|length %}
    Author: {{ art.author }}
    {% else %}
    Author: {{ blog.author }}
    {% endif %}
    | LICENSE <a href="LICENSE.txt">CC0-1.0</a>
    | RSS <a href="atom.xml">atom.xml</a>
  </p>
</div>
{% endblock %}
