.post-ai {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ai-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ai-title-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.ai-explanation {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.ai-explanation-content {
  margin-top: 10px;
}


header {
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

table {
  margin-bottom: 2rem;
}

.small {
  font-size: small;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

#back-home {
  text-align: right;
  margin-bottom: 2rem;
}

#archives {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.art-info {
  font-size: small;
  margin-top: 5rem;
}

#updated-at {
  font-size: small;
  margin-top: 5rem;
  text-align: right;
}

#footer {
  font-size: small;
  border-top: 1px solid #ccc;
}

.index-footer {
  margin-top: 5rem;
}

#footer-home-link {
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

#footer-body {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
}

#title-index-list {
  margin-bottom: 3rem;
  font-size: xx-large;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.TitleIndexItem {
  color: white;
  background-color: #A1A1AA;
  padding: .15em .45em;
  display: inline-block;
}

.TitleIndexItem a {
  color: white;
}

#title-indexes {
  margin-bottom: 5rem;
}

#title-index {
  margin-bottom: 5rem;
}

.footnote-ref {
  background-color: yellow;
}

.footnotes {
  margin-top: 150px;
  font-size: smaller;
}

